<div class="container">
  <% if @medicines.blank? %>
    <div class="alert alert-danger">Sorry! No Medicine Found</div>
  <%end%>
  <h1>Medicines</h1>
  <div id="table" class="table-editable">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Weight</th>
          <th>Description</th>
          <% if current_user.present? && current_user.super_admin? %>
          <th>Edit</th>
          <th>Delete</th>
          <%end%>
        </tr>
      </thead>

      <tbody>

        <% @medicines.each do |medicine| %>

            <tr>
              <td contenteditable="false">
                <%=medicine.name%>
              </td>
              <td contenteditable="false">
                <%=medicine.weight%>
              </td>
              <td contenteditable="false">
                <%=medicine.description%>
              </td>
              <% if current_user.present? && current_user.super_admin? %>
              <td contenteditable="false">
                <%= link_to "Edit", edit_medicine_path(medicine) %>
              </td>
              <td contenteditable="false">
                <%= link_to "Delete", medicine, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
              <%end%>
            </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

