<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="form_main">
                <h4 class="heading"><strong>Edit </strong> <%= resource_name.to_s.humanize %>  <span></span></h4>
                <div class="form">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                    <div>
                      <%= f.label :avatar, "Select image"  %><br>
                      <div >
                        <%= f.file_field :avatar %>
                      </div>
                    </div>
                    <div>
                      <%= f.label :firstname %><br />
                      <%= f.text_field :firstname, autofocus: true, class: "txt" %>
                    </div>
                    <div>
                      <%= f.label :lastname %><br />
                      <%= f.text_field :lastname, class: "txt"%>
                    </div>
                    <div>
                      <%= f.label :Gender%><br>
                      <%= f.label :Male ,"Male" %>
                      <%= f.radio_button :gender, "male", autofocus: true %>
                    
                    
                      <%= f.label :Female, "Female" %>
                      <%= f.radio_button :gender, "female", autofocus: true %>
                    </div>
                    <div>
                      <%= f.label :phone %><br />
                      <%= f.text_field :phone, class: "txt"%>
                    </div>
                    <div>
                      <%= f.label :city %><br />
                      <%= f.text_field :city, class: "txt"%>
                    </div>
                    <% if is_super? %>
                      <div class="field">
                        <%= f.label :role %><br>
                        <%= f.select(:role, User::ROLES.map{ |r| [r.humanize, r] }, {}, { :autofocus => true, include_blank: 'Select a Role' }) %>
                      </div>
                    <% end %>
                    <div>
                      <%= f.label :email %><br />
                      <%= f.email_field :email, class: "txt4"%>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                  <div class="field">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, autocomplete: "off", class: "txt5" %>
                    <% if @minimum_password_length %>
                      <br />
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off",class: "txt5" %>
                  </div>

                  <div class="field">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "off", class: "txt5" %>
                  </div>

                    <div>
                      <%= f.submit "Edit", class: "btn btn-primary"%>
                    </div>
                  <% end %>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>

