<% if is_super? %>
  <h3>Add User</h3>
  <p>Hi admin user you can add new user directly in the system.</p>
<%else%>
<h2>Sign up</h2>
<%end%>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname%>
  </div>
  <div class="field">
    <%= f.label :Gender%><br>
    <%= f.label :Male ,"Male" %>
    <%= f.radio_button :gender, "male", autofocus: true %>
  
  
    <%= f.label :Female, "Female" %>
    <%= f.radio_button :gender, "female", autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone%>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city%>
  </div>
  <% if is_super? %>
    <div class="field">
      <%= f.label :role %><br>
      <%= f.select(:role, User::ROLES.map{ |r| [r.humanize, r] }, {}, { :autofocus => true, include_blank: 'Select a Role' }) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
 