<% commentable.comments.each do |comment| %>
	<div class="well">
		<h3><i class="fa fa-comment"></i> <%= comment.author%> says:
    	<small> <%= time_ago_in_words(comment.created_at) %> ago</small>
    	</h3>
	
		<% if current_user.present? %>
	    	<% if comment.author == current_user.firstname %>
	       		<%= best_in_place comment, :body %>
	    	<%else%>
	       		<%= comment.body %>   
	    	<%end%>   
	  	<%else%>
	   		<%= comment.body%>
	  	<% end -%>
		<div style="float:right">
		  <% if current_user.present? %>
		    <% if comment.author == current_user.firstname  %> 
		      <%= link_to comment, :method => :delete, :data => {confirm: "Are You Sure?"} do %>
		       &#10006;
		      <%end%>
		    <% end -%>
		  <% end -%>
	  	</div>
	</div>
<%end%>
