<% commentable.comments.each do |comment| %>
	<div class="well">
		<p class="text-muted"><strong>Posted by: <%= comment.author %></strong> -
    <%= time_ago_in_words(comment.created_at) %> ago</p>
	
	<% if current_user.present? || current_user.super_admin? %>
    	<% if comment.author == current_user.firstname %>
       		<%= best_in_place comment, :body %>
    	<%else%>
       		<%= comment.body %>   
    	<%end%>   
  	<%else%>
   		<%= comment.body%>
  	<% end -%>
		<div style="float:right">
	  <% if current_user.present? %>
	    <% if comment.author == current_user.firstname || current_user.super_admin? %> 
	      <%= link_to comment, :method => :delete, :data => {confirm: "Are You Sure?"} do %>
	       &#10006;
	      <%end%>
	    <% end -%>
	  <% end -%>
  	</div>
	</div>
	

<%end%>