<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <% if current_user.patient? %>
      <%= f.label :recipients, "Doctors" %>
      <%elsif current_user.doctor? %>
      <%= f.label :recipients, "Patients" %>
      <%end%>
      <% if current_user.patient? %>
      <%= f.select(:recipients, User.where(role: "doctor").collect {|p| [ p.firstname, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
      <% elsif current_user.doctor? %>
      <%= f.select(:recipients, User.where(role: "patient").collect {|p| [ p.firstname, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
      <% elsif current_user.super_admin?  %>
      <%= f.select(:recipients, User.all.collect {|p| [ p.firstname, p.id ] }, {}, { multiple: true , class: "chosen-select form-control"})%>
      <%end%>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>