
<div class="container">
<h1>Users</h1>
<%# if current_user.super_admin? %>
      <%#= link_to 'Add New User/admin', register_path %>
    <%# end %>
<div id="table" class="table-editable">
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>City</th>
        <th>Role</th>
        <th>Edit</th>
      </tr>
      
        <% @users.each do |user| %>
        <tr>
        <td contenteditable="false"><%= user.firstname%></td>
        <td contenteditable="false"><%= user.lastname%></td>
        <td contenteditable="false"><%= user.email%></td>
        <td contenteditable="false"><%= user.gender%></td>
        <td contenteditable="false"><%= user.phone%></td>
        <td contenteditable="false"><%= user.city%></td>
        <td contenteditable="false"><%= user.role%></td>
        <td contenteditable="false"><%= link_to "Edit", user_path(user.id)%></td>
      </tr>

        <%end%>
        
        
      <!-- This is our clonable table line -->
      
    </table>
  </div>

</div>