<%= form_for(history, remote: true) do |f| %>
  

  <div>
    <%= f.label :firstname, "First Name", for: "contain"  %>
    <%= f.text_field :firstname, placeholder: "Firstname",class: "txt" %>
    
  </div>
  <br>
  <div>
    <%= f.label :lastname, "Last Name" , for: "contain" %>
    <%= f.text_field :lastname, placeholder: "Lastname", class: "txt" %>
  </div>
  <br>
  <div>
    <%= f.label :age, "Age", for: "contain" %>
    <%= f.text_field :age, placeholder: "Age",class: "txt" %>
  </div>
  <br>
  <div>
    <%= f.label :reason, "Reason for today's visit", for: "contain" %>
    <%= f.text_area :reason, placeholder: "Reason for visit", class: "txt" %>
  </div>
  <br>
  <div>
    <%= f.submit 'Edit History', class: "btn btn-primary"%>
  </div>
<% end %>
