<%= form_for(history) do |f| %>
  

  <div class="form-group">
    <%= f.label :firstname, "First Name", for: "contain"  %>
    <%= f.text_field :firstname, placeholder: "Firstname", class: "form-control" %>
    
  </div>
  <br>
  <div class="form-group">
    <%= f.label :lastname, "Last Name" , for: "contain" %>
    <%= f.text_field :lastname, placeholder: "Lastname", class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :age, "Age", for: "contain" %>
    <%= f.text_field :age, placeholder: "Age",class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :reason, "Reason for today's visit", for: "contain" %>
    <%= f.text_area :reason, placeholder: "Reason", class: "form-control" %>
  </div>
  <br>
  <div>
    <%= f.submit 'Create History', class: "btn btn-primary"%>
  </div>
<% end %>
