<p id="notice"><%= notice %></p>

<h1>Presriptions</h1>

<table>
  <thead>
    <tr>
      <th>Disease</th>
      <th>Drug name</th>
      <th>Quantity</th>
      <th>name</th>
      <th>Age</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presriptions.each do |presription| %>
      <tr>
        <td><%= presription.disease %></td>
        <td><%= presription.drug_name %></td>
        <td><%= presription.quantity %></td>
        <td><%= presription.name %></td>
        <td><%= presription.age %></td>

        <td><%= link_to 'Show', presription %></td>
        <td><%= link_to 'Edit', edit_presription_path(presription) %></td>
        <td><%= link_to 'Destroy', presription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presription', new_presription_path %>
