<div class="container">
<h1>Appointments</h1>
<%# if current_appointment.super_admin? %>
      <%#= link_to 'Add New appointment/admin', register_path %>
    <%# end %>
<div id="table" class="table-editable">
    <table class="table">
      <tr>
        <th>Patient Name</th>
        <th>Patient Email</th>
        <th>Doctor Name</th>
        <th>Appointment Time</th>
        <th>Appointment Duration</th>
        <th>Show</th>
        <% if current_user.patient?%>
        <th>Edit</th>
        <th>Delete</th>
        <%end%>
        <% if current_user.patient? || current_user.doctor? %>
        <th>Video Link</th>
        <%end%>
      </tr>
      
        <% @appointments.each do |appointment| %>
        
        <tr>
        <td contenteditable="false"><%= appointment.user.firstname%></td>
        <td contenteditable="false"><%= appointment.user.email%></td>
        <td contenteditable="false"><%= appointment.doctor_name%></td>
        <td contenteditable="false"><%= full_time(appointment) %></td>
        <td contenteditable="false"><%= show_duration(appointment) %></td>
        

        <td contenteditable="false"><%= link_to "Show", appointment %></td>
        <% if current_user.patient?%>
        <td contenteditable="false"><%= link_to "Edit", edit_appointment_path(appointment)%></td>

        <td contenteditable="false"><%= link_to "Delete", appointment, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <%end%>
        <% if current_user.patient? || current_user.doctor? %>
        <td contenteditable="false"><%= link_to "Start Call", call_path(id: appointment)%></td>
        <%end%>
        </tr>

        <%end%>
        
      <!-- This is our clonable table line -->
      
    </table>
  </div>

</div>