<%= form_for(post) do |f| %>
  <%= f.hidden_field :author, value: current_user.firstname if current_user.present? %>
  <div>
    <%= f.label :question, "Question" %><br />
    <%= f.text_field :question, autofocus: true, class: "txt" %>
  </div>

  <div>
    <%= f.label :body, "Description" %><br />
    <%= f.text_area :body, class: "txtarea" %>
  </div>

  <div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>   
       