<br>
<div class="container">
	<div class="row">
        <div class="col-lg-8">
            <h1><%= @post.question %></h1>
            <p class="lead"><i class="fa fa-user"></i> by <a href=""><%= @post.user.firstname %></a>
            </p>
            <hr>
            <p><i class="fa fa-calendar"></i> Posted on <%= @post.created_at.strftime("%d %b, %Y")%></p>
			
		 	<hr>
            <p class="lead"><%= @post.body %></p>
            
            <br>
            <hr>
			<%= render partial: "comments/form", locals: {commentable: @post} %>
			<%= render partial: "comments/comments", locals: {commentable: @post}%>

        </div>
    </div>
</div>
