<div class="headerw3-agile"> 
    <div class="header-w3mdl"><!-- header-two --> 
      <div class="container"> 
        <div class="agileits-logo navbar-left">
          <h1><a href="/"><i class="fa fa-heartbeat"></i>Online Doctor</a></h1> 
        </div> 
        <div class="agileits-hdright nav navbar-nav">
          <div class="header-w3top"><!-- header-top --> 
            <!-- <ul class="w3l-nav-top">
              <li><i class="fa fa-phone"></i><span> +01 222 111 444 </span></li> 
              <li><a href="mailto:example@mail.com"><i class="fa fa-envelope-o"></i><span>mail@example.com</span></a></li>
            </ul> -->
            <div class="clearfix"> </div>    
          </div>
          <!-- <div class="agile_social_banner">
            <ul class="agileits_social_list">
              <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
              <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            </ul>
          </div> -->  
          <div class="pull-right">
          <%= search_form_for @search do |f| %>
              <%= f.text_field :name_cont, placeholder: "Search Medicine", class: "txt" %>
              <%= f.submit "Search", class: "btn btn-primary" %>
          <% end -%>
          </div>
        </div>
        <div class="clearfix"> </div> 
      </div>  
    </div>  
  </div>  
  <!-- //header --> 
  <!-- banner -->
  <div class="banner">
    <div class="header-nav"><!-- header-three -->   
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu 
          </button> 
          <!-- <h1><a class="navbar-brand" href="/"><i class="fa fa-heartbeat"></i>Online <span>Doctor</span></a></h1>  -->
        </div>
        <!-- top-nav -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about" class="scroll">About</a></li>    
            <li><a href="/faq" class="scroll">FAQ</a></li>
            <li><a href="/contact" class="scroll">Contact Us</a></li>    
            <li><a href="/appointments" class="scroll">Book Appointment</a></li>   
            <% if current_user.present? %>
            <li><a href="icons.html" data-toggle="dropdown"><%= image_tag(current_user.avatar.url(:thumb), class: "round-image-50") %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Inbox", mailbox_inbox_path %></li>
                <li><a href="/my-appointments">My Appointments</a></li>
                <li><%= link_to "Edit Account", edit_user_registration_path%></li>
                <li><a href='/prescription'>Prescription</a></li>
                <li><a href='/my-posts'>My Posts</a></li>
                <li><%= link_to  destroy_user_session_path, :method => 'delete' do%> Signout<% end %></li>
              </ul>
            </li> 
            <%else%>
        
            <li><%= link_to new_user_session_path do %>Sign In<%end%></li>
            <li><%= link_to new_user_registration_path do %>Sign Up<%end%></li>
            <%end%>
          </ul>  
          <div class="clearfix"> </div> 
        </div>
      </nav>    
    </div>
    <!-- banner-text -->

      